.signup {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    align-items: center;
    color: #fff;
    height: 100vh;
    
}

.signup__container {
    width: 300px;
    height: fit-content;
    background: #fff;
    padding: 50px;
    margin: 100px;
    border-radius: 10px;
}

.signup__header{
    font-size: 24px;
    color:#404972;
    font-weight: normal;
    margin-bottom: 40px;
}

.signup__container > form > input {
    height: 30px;
    width: 98%;
}

.signup__container > form > h2 {
    color: #404972;
    font-size: 18px;
    margin: 10px;
}

.signup__container > form > button {
    margin: 10px;
    background-color: #B7BDD7;
    border: 1px solid;
    border-color: #818EC5 #8C98CE #98A4D8 ;
}
